{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <div class="starter-template">
        <h1 style="text-align: center">Admin</h1>
        <p>&nbsp;</p>
        <h2>Users</h2>
        <p>&nbsp;</p>
        <form class="form-inline" role="form" action="{{ url_for('adduser') }}" method="post">
          <div class="form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label class="sr-only" for="mobilenum">Mobile Number</label>
            <input type="text" class="form-control" id="mobilenum" name="mobilenum" placeholder="+1243456789">
          </div>
          <button type="submit" class="btn btn-default">Add User</button>
        </form>
        <p>&nbsp;</p>
        <table class="table">
          <thead>
            <tr><th>Name</th><th>Mobile Number</th><th>&nbsp;</th></tr>
          </thead>
          <tbody>
        {% for entry in users %}
            <tr>
              <td><a href="{{ url_for('user', id=entry.id) }}">{{ entry.name }}</a></td>
              <td>{{ entry.mobilenum }}</td>
              <td><a href="{{ url_for('deluser', id=entry.id) }}" type="button" class="btn btn-xs btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        <p>&nbsp;</p>
        <h2>Call Groups</h2>
        <p>&nbsp;</p>
        <form class="form-inline" role="form" action="{{ url_for('addgroup') }}" method="post">
          <div class="form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
          </div>
          <button type="submit" class="btn btn-default">Add Group</button>
        </form>
        <p>&nbsp;</p>
        <table class="table">
          <thead>
            <tr><th>Name</th><th>&nbsp;</th></tr>
          </thead>
          <tbody>
        {% for entry in callgroups %}
            <tr>
              <td>{{ entry.name }}</td>
              <td><a href="{{ url_for('delgroup', id=entry.id) }}" type="button" class="btn btn-xs btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div><!-- /.container -->
{% endblock %}
