{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <div class="starter-template">
        <h1 style="text-align: center">Admin</h1>
        <p>&nbsp;</p>
        <h2>Users</h2>
        <table class="table">
          <thead>
            <tr><th>Name</th><th>Mobile Number</th><th>&nbsp;</th></tr>
          </thead>
          <tbody>
        {% for entry in users %}
            <tr>
              <td><a href="/users/{{ entry.id }}">{{ entry.name }}</a></td>
              <td>{{ entry.mobilenum }}</td>
              <td><a href="/users/{{ entry.id }}/del" type="button" class="btn btn-xs btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        <p>&nbsp;</p>
        <h2>Call Groups</h2>
        <table class="table">
          <thead>
            <tr><th>Name</th><th>&nbsp;</th></tr>
          </thead>
          <tbody>
        {% for entry in callgroups %}
            <tr>
              <td>{{ entry.name }}</td>
              <td><a href="/groups/{{ entry.id }}/del" type="button" class="btn btn-xs btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div><!-- /.container -->
{% endblock %}
