{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <div class="starter-template">
        <h2 style="text-align: center">History Log</h2>

        <table class="table">
          <thead>
            <tr><th>Entry Date</th><th>Log Entry</th></tr>
          </thead>
          <tbody>
        {% for entry in entries %}
            <tr><td>{{ entry.date }}</td><td>{{ entry.log }}</td></tr>
        {% endfor %}
          </tbody>
        </table>

      </div>
    </div><!-- /.container -->
{% endblock %}
