{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <div class="starter-template">
        <h1 style="text-align: center">Users</h1>
        <p>&nbsp;</p>
        <form class="form-inline" role="form" action="{{ url_for('adduser') }}" method="post">
          <div class="form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label class="sr-only" for="mobilenum">Mobile Number</label>
            <input type="text" class="form-control" id="mobilenum" name="mobilenum" placeholder="+1243456789">
          </div>
          <button type="submit" class="btn btn-default">Add User</button>
        </form>
        <p>&nbsp;</p>
        <table class="table">
          <thead>
            <tr><th>#</th><th>Name</th><th>Mobile Number</th><th>&nbsp;</th></tr>
          </thead>
          <tbody>
        {% for entry in entries %}
            <tr>
              <td>{{ entry.id }}</td>
              <td>{{ entry.name }}</td>
              <td>{{ entry.mobilenum }}</td>
              <td><a href="/users/{{ entry.id }}/del" type="button" class="btn btn-xs btn-danger">Delete</a></td>
            </tr>
        {% else %}
          <li><em>Unbelievable.  No entries here so far</em>
        {% endfor %}
          </tbody>
        </table>

      </div>
    </div><!-- /.container -->
{% endblock %}
